*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  :root{
    --var-web-color:rgb(118, 194, 126);
    --var-font-family:"Bebas Neue", sans-serif;
  }
  header{
    width: 100%;
    background-color: rgb(255, 255, 244);
    height: 715px;
    
  }
  .nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 35px; */
   
  }
  .nav-item>.logo>img{
    width: 295px;
    height: 45px;
    margin-top: 43px;
  }
  .navbar>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px ;
    margin-top: 47px;
  }
  .navbar>ul>li{
    list-style: none;
  }
  .navbar>ul>li>a{
    text-decoration: none;
    font-family: var(--var-font-family);
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.3%;
    color: black;
  }
  .hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid lime; */
    width: 77%;
    margin: 10px auto;
  }
  .hero-image>.sub-image{
    position: relative;
  }
  .hero-image>.sub-image>img{
    width: 400px;
    height: 380px;
    
  }
  .hero-image>.sub-image>.green{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    
  }
  .hero-image>.sub-image>.green>img{
    width: 470px;
    height: 470px;
  }

  .bag{
    z-index: 1111;
  }