*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  :root{
    --var-web-color:rgb(118, 194, 126);
    --var-font-family:"Bebas Neue", sans-serif;
  }
  header{
    width: 100%;
    background-color: rgb(255, 255, 244);
    height: 715px;
    
  }
  .nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 35px; */
   
  }
  .nav-item>.logo>img{
    width: 295px;
    height: 45px;
    margin-top: 43px;
  }
  .navbar>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px ;
    margin-top: 47px;
  }
  .navbar>ul>li{
    list-style: none;
  }
  .navbar>ul>li>a{
    text-decoration: none;
    font-family: var(--var-font-family);
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.3%;
    color: black;
  }
  .hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid lime; */
    width: 67%;
    margin: 10px auto;
  }
  .bg-add{
    position: relative;
  }
  .hero-image>.bg-add>img{
    width: 417px;
    height: 417px;
    position: absolute;
    top: 80px;
    right: 55px;
    z-index: 111;
    
    
  }
  .hero-image>.bg-add>.green>img{
    width: 506px;
    height: 506px;
    filter: drop-shadow(0px 0px 35px lightgreen );
    opacity: 180%;  
  }
.hero-container>.hero-content>h1{
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0.3%;
  line-height: 80px;
  color: rgb(54, 57, 88);
}
.moon{
  font-size: 62px;
  font-weight: 600;
  color: rgb(118, 194, 126);

}
.hero-container>.hero-content>p{
  font-size: 20px;
  opacity: 65%;
  line-height: 25px;
  text-align: justify;
  color: rgb(54, 57, 88);
  margin-top: -7px;
}
.btn1{
  padding: 15px 40px;
  border-radius: 10px;
  background: rgb(42, 30, 89);
  color: #fff ;
  font-size: 19px;
  border: none;
  filter: drop-shadow(3px 2px 5px blue);
  margin-top: 15px;
}
#icon{
  transform: translateX(-10px);
  font-size: 24px;
}